body{
    height:200vh;
}
div.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #4DBAD7;
    height:30vh;
    border-radius: 10px;
}
div.welcome h1{
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
div.welcome h2{
    color: azure;
}
button{
    font-size: 15px;
    width:100px;
    height:45px;
    border-radius:15px;
    background-color: mediumspringgreen;
    border:2px solid black;
    margin-top: 10px;
}
span{
    font-size: 15px;;
}
div.wrap{
    display:flex;
flex-direction: column;
justify-content:space-around;
align-items:center;
height:30vh;
}
section.count{
    margin-top: 30px;
    border-radius:10px;
    display:flex;
flex-direction: column;
justify-content:space-between;
align-items: center;
height:65vh;
background-color: darkseagreen;
}
div.bathroom{
    display:flex;
flex-direction: column;
justify-content:space-between;
align-items: center;
height:100vh;
padding-top: 30px;;
}
.count input{
    border: 3px solid black;
    width:45px;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}
.count span{
    margin-top: 30px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
width:65vw;
height: 30px;
border: 3px solid black;
border-radius: 16px;
background-color: #EBD6FD;
display: flex;
justify-content:space-between;
align-items: center;
padding-left: 25px;
padding-right: 25px;
}
div.wrap{
  display: flex;
  width:100%;
  height:150px;

}
span#windowfinal{

    display: inline-block;
    margin-top: 0;
    font-size: 15px;
    border:0px;
    width:20px;
    background-color: darkseagreen;
    height:10px;
}
span#wallfinal{
    display: inline-block;
    margin-top: 0;
    font-size: 15px;
    border:0px;
    width:20px;
    background-color: darkseagreen;
    height:10px;
}
span#BathFloorResult{
    display: inline-block;
    margin-top: 0;
    font-size: 15px;
    border:0px;
    width:20px;
    background-color: darkseagreen;
    height:10px;
}
div.wrap p{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
section.prices{
    display:flex;
flex-direction: column;
align-items: center;
height:75vh;
}
div.pricesDiv{

    height: 10vh;;
}
div.pricesDiv p{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.bathroom label{
    display:inline-block;
}
ul{
list-style: none;
}
section.prices{
    margin-top: 30px;
    border-radius:10px;
    display:flex;
flex-direction: column;
justify-content:space-around;
align-items: center;
height:150vh;
background-color: darkseagreen;
padding-bottom: 10vh;
}
ul li{
    margin-top: 30px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
width:65vw;
height: 30px;
border: 3px solid black;
border-radius: 16px;
background-color: #EBD6FD;
display: flex;
justify-content:space-between;
align-items: center;
padding-left: 25px;
padding-right: 25px;
}
div.points label{
    margin-top: 30px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
width:65vw;
height: 30px;
border: 3px solid black;
border-radius: 16px;
background-color: #EBD6FD;
display: flex;
justify-content:space-between;
align-items: center;
padding-left: 25px;
padding-right: 25px;
}
div.points {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.points h1{
    font-size: 20px;
}
div.points p{
    font-size: 20px;
}
span#Tcost{
    width:150px;
    height:60px;
    border:2px solid black;
    font-size: 40px;
}